// ==================================================
//    ### VARIABLES ###
// ==================================================
@import "vars/breakpoints";


// ==================================================
//    ### MOBILES ###
// ==================================================
@media screen and (min-width: $min-mobile) and (max-width: $max-tablet) {

	// ==================================================
	//    ### MAIN HEADER ###
	// ==================================================
	.main-header {
		display: flex;
		min-height: 90px;

		.header-logo {
			max-width: 224px;
		}

		.header-nav {
			position: fixed;
			top: 0;
			right: -100vw;
			z-index: 200;
			width: 100%;
			max-width: 50%;
			height: 100vh;
			overflow: auto;
			background-color: #e7e7e7;
			transition: right 0.5s ease-in-out;

			&.is-open {
				right: 0;
			}

			&__list {
				flex-direction: column;
			}

			&__item {
				display: block;
				width: 100%;
				border-bottom: 1px solid $grayLight;
			}

			&__link {

				&:hover,
				&:focus,
				&.mPS2id-highlight {
					border-left: 15px solid $orange;
				}

			}

		}

	}

}

@media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {

	// ==================================================
	//    ### COMMON STYLES ###
	// ==================================================
	body {
		margin-top: 70px;
	}

	section {
		padding: 50px 0;
	}

	// Buttons
	.btn {
		padding: 13px 20px;
		font-size: 18px;
		line-height: 1.43;
	}
	.next-section-btn {
		bottom: 30px;
		width: 50px;
		height: 50px;
		margin-left: -25px;

		.angle-icon {
			width: 20px;
			height: 14px;
			margin-top: -5px;
			margin-left: -10px;

			&--up {
				margin-top: -7px;
			}

		}

	}

	// Forms
	.form-group {
		margin-bottom: 40px;

		&--inline {
			max-width: 100%;
		}

		p {
			margin: 0 0 20px;
			font-size: 24px;
			line-height: 1.43;
			letter-spacing: .68px;
		}

		input[type="text"],
		input[type="email"],
		textarea {
			padding: 12px 20px;
			font-size: 22px;
		}

		label {
			font-size: 18px;
			line-height: 1.43;

			&.error {
				font-size: 18px;
				line-height: 1.43;
			}

		}


		&--radio {

			label {
				display: block;
				margin-right: 0;
				margin-bottom: 15px;
			}

			img {
				width: 215px;
			}

		}

	}
	.form-actions {
		text-align: center;
	}

	// Section wrapper
	.sect-wrapper {
		flex-direction: column;
	}


	// ==================================================
	//    ### MAIN HEADER ###
	// ==================================================
	.main-header {
		min-height: 70px;

		.header-logo {
			max-width: 165px;
		}

		.header-nav {

			&.is-open {
				max-width: 90%;
			}

			&__item.active .header-nav__link {
				border-left-width: 10px;
			}

			&__link {
				padding: 20px 25px;
				font-size: 20px;
				text-transform: uppercase;
			}

		}

		.mobile-sandwich {
			width: 75px;
		}

		.mobile-line {
			max-width: calc(100% - 75px);
			height: 70px;
			padding-left: 20px;

			&__img {
				max-width: 110px;
			}

		}

	}

	// ==================================================
	//    ### 1. Section "Main" ###
	// ==================================================
	.sect-front {

		.front-content {
			max-width: 100%;
			margin-bottom: 50px;
			text-align: center;

			&__title {
				margin-bottom: 15px;
				font-size: 24px;
				line-height: 1.43;
			}

			&__descr {
				max-width: 100%;
				margin-bottom: 30px;

				p {
					font-size: 16px;
					line-height: 1.43;
				}

				small {
					font-size: 12px;
				}

			}

			&__download {
				flex-direction: column;
				margin: 0 auto 30px;

				a {
					max-width: 150px;

					&:first-child {
						margin-right: 0;
					}

				}

			}

		}

		.front-image {
			max-width: 260px;
		}

	}


	// ==================================================
	//    ### 2. Section "Preview" ###
	// ==================================================
	.sect-preview {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.preview-box {
			text-align: center;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				flex: 1 290px;
			}

			&.is-active {
				transform: none;
			}

			&__link {
				display: none;
			}

		}

	}


	// ==================================================
	//    ### 3. Section "Plan" ###
	// ==================================================
	.sect-plan {
		max-width: 90%;
		margin: 0 auto;

		.plan-content {
			max-width: 100%;
			margin-bottom: 100px;

			&__descr {
				margin-bottom: 50px;
				text-align: center;

				h2 {
					font-size: 28px;
				}

				small {
					font-size: 18px;
				}

			}

		}

		.plan-image {
			margin: 0 auto;
		}

	}


	// ==================================================
	//    ### 4. Section "Plan" ###
	// ==================================================
	.sect-contacts {

		&__head {
			padding: 12px 0;

			p {
				font-size: 18px;
			}

		}

		.contacts-box {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			&__icon {
				max-width: 45px;
				margin: 0;
			}

			&__content {

				h3 {
					font-size: 26px;
				}

				p {
					font-size: 18px;
				}

			}

		}

		.contacts-form {
			padding: 0;

			form {
				padding: 20px 10px;
			}

		}

	}

}


// ==================================================
//    ### TABLETS ###
// ==================================================
@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

	// ==================================================
	//    ### COMMON STYLES ###
	// ==================================================
	body {
		margin-top: 90px;
	}

	// Buttons
	.btn {
		padding: 13px 20px;
		font-size: 18px;
		line-height: 1.43;
	}
	.next-section-btn {
		bottom: 30px;
		width: 65px;
		height: 65px;
		margin-left: -32.5px;

		.angle-icon {
			width: 25px;
			height: 15px;
			margin-top: -5px;
			margin-left: -13px;

			&--up {
				margin-top: -7px;
				margin-left: -12px;
			}

		}

	}

	// Forms
	.form-group {
		margin-bottom: 45px;

		&--inline {
			max-width: 48%;
		}

		p {
			margin: 0 0 15px;
			font-size: 24px;
		}

		input[type="text"],
		input[type="email"],
		textarea {
			padding: 12px 20px;
			font-size: 24px;
		}

		textarea {
			height: 300px;
		}

		label {
			font-size: 18px;
			line-height: 1.43;

			&.error {
				bottom: -25px;
				font-size: 18px;
				line-height: 1.43;
			}

		}

		&--checkbox {
			margin-top: 25px;
		}

		&--radio {

			label {
				display: block;
			}

		}

	}


	// ==================================================
	//    ### MAIN HEADER ###
	// ==================================================
	.main-header {

		.header-nav__link {
			font-size: 20px;
			text-transform: uppercase;
		}

	}


	// ==================================================
	//    ### 1. Section "Main" ###
	// ==================================================
	.sect-front {
		//max-width: 85%;

		.front-content {
			max-width: 50%;

			&__title {
				margin-bottom: 15px;
				font-size: 30px;
				line-height: 1.43;
			}

			&__descr {
				max-width: 90%;
				margin-bottom: 30px;
				line-height: 1.43;

				p {
					font-size: 18px;
				}

				small {
					font-size: 15px;
				}

			}

			&__download a {
				max-width: 150px;

				&:first-child {
					margin-right: 15px;
				}

			}

		}

		.front-image {
			max-width: 250px;
		}

	}


	// ==================================================
	//    ### 2. Section "Preview" ###
	// ==================================================
	.sect-preview {
		flex-wrap: wrap;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;

		.preview-box {
			text-align: center;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				flex: 1 50%;
			}

			&.is-active {
				transform: none;
			}

			&__link {
				display: none;
			}

		}

	}


	// ==================================================
	//    ### 3. Section "Plan" ###
	// ==================================================
	.sect-plan {

		.plan-content {

			&__descr {
				margin-bottom: 30px;

				h2 {
					font-size: 30px;
				}

			}

		}

		.plan-image {
			max-width: 250px;
		}

	}


	// ==================================================
	//    ### 4. Section "Contacts" ###
	// ==================================================
	.sect-contacts {
		&__head {
			padding: 15px 0;

			p {
				font-size: 20px;
			}

		}

		.contacts-box {
			margin-bottom: 25px;
			padding-bottom: 25px;

			&__icon {
				max-width: 50px;
				margin-right: 30px;
			}

			&__content {

				h3 {
					font-size: 28px;
				}

				p {
					font-size: 18px;
				}

			}

		}

	}

}


// ==================================================
//    ### LAPTOPS ###
// ==================================================
@media screen and (max-width: $max-laptop) {

	// ==================================================
	//    ### COMMON STYLES ###
	// ==================================================
	.sect-wrapper {
		max-width: 1095px;
	}

}

@media screen and (min-width: $min-laptop) and (max-width: $max-laptop) {

	// ==================================================
	//    ### COMMON STYLES ###
	// ==================================================
	body {
		margin-top: 70px;
	}

	// Forms
	.form-group {
		margin-bottom: 40px;

		&--inline {
			max-width: 48.6%;
		}

		p {
			margin: 0 0 19px;
			font-size: 24px;
			line-height: 1.43;
			letter-spacing: 0.63px;
		}

		input[type="text"],
		input[type="email"] {
			max-width: 450px;
			padding: 12px 20px;
			font-size: 26px;
			letter-spacing: 0.32px;
		}

		label {

			&.error {
				bottom: -26px;
				font-size: 18px;
			}

		}

		&--checkbox {
			margin-top: 20px;
			margin-bottom: 34px;
		}

		&--radio {

			img {
				max-width: 232px;
			}

		}

	}

	// Buttons
	.next-section-btn {
		bottom: 10px;

		.angle-icon {
			width: 35px;
			height: 20px;
			margin-top: -5px;
			margin-left: -17px;

			&--up {
				margin-top: -9px;
			}

		}

	}

	// ==================================================
	//    ### MAIN HEADER ###
	// ==================================================
	.main-header {
		min-height: 70px;

		.header-wrapper {
			max-width: 1305px;
		}

		.header-logo {
			max-width: 164px;
		}

		.header-nav {

			&__link {
				padding: 21px 35px 20px;
				font-size: 22px;
				line-height: 29px;
				letter-spacing: 0.57px;
			}

		}

	}


	// ==================================================
	//    ### 1. Section "Main" ###
	// ==================================================
	.sect-front {

		.front-content {
			max-width: 50%;

			&__descr {
				max-width: 90%;
				margin-bottom: 34px;
			}

			&__download {
				margin-bottom: 54px;
			}

		}

		.front-image {
			max-width: 250px;
		}

	}


	// ==================================================
	//    ### 2. Section "Preview" ###
	// ==================================================
	.sect-preview .preview-box__link {
		bottom: 15px;
		font-size: 16px;
	}

	// ==================================================
	//    ### 3. Section "Plan" ###
	// ==================================================
	.sect-plan {

		.plan-content {
			max-width: 65%;

			&__descr {
				margin-bottom: 30px;

				h2 {
					font-size: 30px;
				}

			}

		}

		.plan-image {
			max-width: 250px;
		}

	}

}

@media screen and (min-width: $min-laptop) {

	// ==================================================
	//    ### MAIN HEADER ###
	// ==================================================
	.main-header {

		.mobile-sandwich,
		.mobile-overlay,
		.mobile-line {
			display: none;
		}

	}

}
