// Mixins
@import "mixins/font-face";

// Vars
@import "vars/fonts";
@import "vars/colors";

// ==================================================
//    ### Font face ###
// ==================================================
@include font-face("Exo-Regular", "../fonts/exo-regular-webfont", 400, normal);
@include font-face("Exo-Medium", "../fonts/exo-medium-webfont", 500, normal);
@include font-face("Exo-DemiBold", "../fonts/exo-demibold-webfont", 600, normal);


*,
*::before,
*::after {
	box-sizing: border-box;
	transition: all .25s linear;
}

html {
	height: 100%;
}

body {
	position: relative;
	//min-height: 100%;
	margin-top: 80px;
	font-family: $Exo-Medium;
	font-size: 24px;
	line-height: 32px;
	background-color: $mainBg;

	&.overlayed {
		overflow: hidden;
	}

}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $white;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p:last-child {
	margin: 0;
}

// Buttons
.btn {
	display: inline-block;
	padding: 13px 29.5px;
	color: rgba($black, .5);
	font-family: $Exo-Demibold;
	font-size: 28px;
	line-height: 38px;
	letter-spacing: 0.73px;
	text-transform: uppercase;
	border: 3px solid $black;
	border-radius: 5px;
	background-color: $orange;
	transition: all .25s linear;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $black;
	}

}

// ==================================================
//    ### Header ###
// ==================================================
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	min-height: 80px;
	background-color: $black;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1850px;
		padding: 0 15px;
		margin: 0 auto;
	}

	.header-logo {
		max-width: 209px;

		img {
			vertical-align: middle;
		}

	}

	.header-nav {

		&__list {
			display: flex;
			align-items: center;
		}

		&__item {

			&:last-child {

				.header-nav__link {
					padding-right: 0;
				}

			}

			&.active {

				.header-nav__link {
					color: $orange;
				}

			}

		}

		&__link {
			display: block;
			padding: 24px 37px;
			color: $grayLight;
			letter-spacing: 0.63px;
			transition: all .25s linear;

			&:hover,
			&:focus {
				color: $orange;
			}

		}

	}

	.mobile-sandwich {
		position: relative;
		z-index: 300;
		display: block;
		width: 96px;
		height: 100%;
		margin-right: -15px;
		background-color: $orange;
		border: 0;
		cursor: pointer;

		span {
			display: block;
			background-color: $black;
			width: 100%;
			max-width: 80%;
			height: 5px;
			margin: 0 auto 10px;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	.mobile-overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(#4A4A4A, .5);
		transition: opacity 0.5s ease-in-out;
		opacity: 0;

		&.is-open {
			display: block;
			opacity: 1;
		}

	}

	.mobile-line {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: calc(100% - 96px);
		height: 90px;
		padding-left: 35px;
		background-color: $black;

		&__img {
			display: inline-block;
			margin: 0;
			max-width: 150px;

			img {
				vertical-align: middle;
			}

		}

	}

}

// ==================================================
//    ### 1. Front page ###
// ==================================================
.main-front {
	position: relative;
	min-height: 100vh;
	padding: 118px 0 160px;
	background: $mainBg url("../img/backgrounds/front-bg.png") no-repeat center;
	background-size: cover;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#040300, .85);
	}

}

.sect-front {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.front-content {
	max-width: 45%;

	&__title {
		margin: 0;
		color: $white;
		font-weight: 500;
		font-size: 44px;
		line-height: 58px;
		letter-spacing: 1.15px;
	}

	&__descr {
		max-width: 75%;
		margin-bottom: 54px;
		line-height: 37px;
		letter-spacing: 0.94px;

		p {
			margin: 0;
			color: $orange;
			font-family: $Exo-Demibold;
			font-size: 26px;
		}

		small {
			color: $gray;
			font-family: $Exo-Regular;
			font-size: 20px;
		}

	}

	&__download {
		display: flex;
		align-items: center;
		margin-bottom: 41px;

		a {
			display: block;
			max-width: 205px;
			transition: all .25s linear;
			opacity: .6;

			&:first-child {
				margin-right: 20px;
			}

			&:hover,
			&:focus {
				opacity: 1;
			}

		}

	}

}

.front-image {
	max-width: 360px;
}


// ==================================================
//    ### 2. Preview page ###
// ==================================================
.sect-preview {}

.preview-slider {
	cursor: grab;

	img {
		outline: 0;
	}

}

.slick-slider .slick-track {
	transition: none;
}


// ==================================================
//    ### 3. "Get your plan" page ###
// ==================================================
.main-plan {
	padding: 100px 0 143px;
}

.sect-plan {
	width: 100%;
	max-width: 1510px;
	margin: 0 auto;
	padding: 0 15px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

.plan-content {
	max-width: 56%;

	&__descr {
		margin-bottom: 14px;
		color: $white;
		letter-spacing: 0.94px;

		h2 {
			margin: 0;
			font-size: 34px;
			font-weight: 500;
			line-height: 1.43;
		}

		span,
		sup {
			color: $orange;
		}

		small {
			color: $gray;
			font-size: 20px;
			line-height: 1.43;
		}

	}

}

.plan-image {
	width: 100%;
	max-width: 360px;
}


// ==================================================
//    ### Forms ###
// ==================================================
.form-group {
	position: relative;
	margin-bottom: 60px;

	&:first-child {
		margin-bottom: 0;
	}

	p {
		margin: 0 0 28px;
		color: $orange;
		font-family: $Exo-Demibold;
		font-size: 28px;
		line-height: 38px;
		letter-spacing: 0.73px;
	}

	input[type="text"],
	input[type="email"] {
		box-sizing: border-box;
		width: 100%;
		max-width: 528px;
		padding: 15px 20px;
		color: darken($gray, 33.4%);
		font-family: $Exo-Regular;
		font-size: 30px;
		line-height: 1.43;
		letter-spacing: 0.37px;
		border: 2px solid darken($gray, 29%);
		border-radius: 5px;
		background-color: $white;
		box-shadow: 0 3px 8px rgba($black, 0.107762);
		outline: 0;
	}

	label {
		color: lighten($gray, 34%);
		font-family: $Exo-Regular;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.73px;

		&.error {
			position: absolute;
			left: 0;
			bottom: -30px;
			color: #fc1717;
			font-size: 24px;
			line-height: 30px;
			letter-spacing: 0;
		}

	}

	&--checkbox {
		margin-top: 30px;

		label {
			display: block;
			width: 100%;
			max-width: 628px;
		}

	}

	&--radio {

		label {
			display: inline-block;
			margin-right: 18px;

			&:last-child {
				margin-right: 0;
			}

		}

		img {
			width: 243px;
		}

		label > input {
			visibility: hidden;
			position: absolute;

			+ img {
				cursor: pointer;
				opacity: .6;
				transition: all .25s linear;
			}

			&:checked + img {
				opacity: 1;
			}

		}

	}

}


// ==================================================
//    ### Responsive styles ###
// ==================================================
@import "responsive";
